# Extract the HbA1c Values and Diabetes Mentions from MIMIC-III dataset documents

In this notebook I will be developing a python script for extracting the HbA1c values from text documents. The main thing I am looking for is going to be A1c followed by some value.

I will be using PyConText to accomplish this task. I have found when experimenting with PyConText on the MIMIC-III dataset that you sometimes get some very odd things that come back when you use modifiers with numbers, so I am going to use one regular expression to obtain both the mention of HbA1c and the value. I will then remove everything that is not the number to obtain the actual value. 

This notebook is almost identical to the previous notebook, except that in this notebook I am running this on the test dataset.

First step, import PyConText and define the functions (taken from the PyConText github page and modified with help from Jeff Ferraro) so that I can run the actual text parsing.

In [16]:
import pyConTextNLP.pyConText as pyConText
# itemData has been rewritten, so that it can take relative local path, where you can redirect it to your customized yml files later
import os
import itemData
import re
import glob
import pandas as pd
from xml.etree import ElementTree
import math

In [2]:
my_targets=itemData.get_items('Yaml_Files/A1c_targets.yml')
my_modifiers=itemData.get_items('Yaml_Files/A1c_modifiers.yml')

The functions *markup_sentence* and *markup_doc* were both ones that we went over in the NLP lab.

In [3]:
## This one is the same, it just doesn't split it into sentences. 
def markup_sentence(s, modifiers, targets, prune_inactive=True):
    """
    """
    markup = pyConText.ConTextMarkup()
    markup.setRawText(s)
    markup.cleanText()
    markup.markItems(my_modifiers, mode="modifier")
    markup.markItems(my_targets, mode="target")
    markup.pruneMarks()
    markup.dropMarks('Exclusion')
    # apply modifiers to any targets within the modifiers scope
    markup.applyModifiers()
    markup.pruneSelfModifyingRelationships()
    if prune_inactive:
        markup.dropInactiveModifiers()
    return markup

def markup_doc(doc_text:str)->pyConText.ConTextDocument:
    rslts=[]
    context = pyConText.ConTextDocument()
    #for s in doc_text.split('.'):
    m = markup_sentence(doc_text, modifiers=my_modifiers, targets=my_targets)
    rslts.append(m)

    for r in rslts:
        context.addMarkup(r)
    return context

def get_output(something):
    context=markup_doc(something)
    output = context.getDocumentGraph()
    return output

Ok, I have figured out how to get the pieces of a node that I can use for every node. I can put these into lists and then add the lists into a dataframe, then transpose the dataframe and I can have something to work with. The next step is going to be reading in the documents and figuring out how to apply

In [4]:
os.listdir('Text_Files/')

['.DS_Store',
 'Training_Dataset',
 'test_files.txt',
 'Testing_Dataset',
 'list_of_Files.txt']

In [5]:
os.getcwd()

'/Users/david/Documents/David_Sant/Classes/NLP_BMI_6115_Biomedical_Text_Processing/Final_Project/Coding_Portion_NLP_Final_Project'

In [6]:
os.listdir("/Users/david/Documents/David_Sant/MIMIC Database/")

['PROCEDUREEVENTS_MV.csv',
 'CALLOUT.csv',
 'D_CPT.csv',
 'D_ITEMS.csv',
 'CAREGIVERS.csv',
 'MICROBIOLOGYEVENTS.csv',
 'LABEVENTS.csv',
 'INPUTEVENTS_CV.csv',
 'ADMISSIONS.csv',
 'D_LABITEMS.csv',
 'DATETIMEEVENTS.csv',
 'PRESCRIPTIONS.csv',
 'PROCEDURES_ICD.csv',
 'NOTEEVENTS.csv',
 'CHARTEVENTS.csv',
 'TRANSFERS.csv',
 'DIAGNOSES_ICD.csv',
 'SERVICES.csv',
 'DRGCODES.csv',
 'OUTPUTEVENTS.csv',
 'Head.noteevents.csv',
 'PATIENTS.csv',
 'D_ICD_DIAGNOSES.csv',
 'ICUSTAYS.csv',
 'INPUTEVENTS_MV.csv',
 'D_ICD_PROCEDURES.csv',
 'CPTEVENTS.csv']

In [7]:
noteevents = pd.read_csv("/Users/david/Documents/David_Sant/MIMIC Database/NOTEEVENTS.csv")
len(noteevents)

/Users/david/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2083180

In [61]:
len(noteevents)

2083180

In [8]:
noteevents.head()

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...

In [9]:
text_df = noteevents[["ROW_ID", "TEXT"]]
text_df.columns = ["Identifier", "Text"]
text_df.head()

   Identifier                                               Text
0         174  Admission Date:  [**2151-7-16**]       Dischar...
1         175  Admission Date:  [**2118-6-2**]       Discharg...
2         176  Admission Date:  [**2119-5-4**]              D...
3         177  Admission Date:  [**2124-7-21**]              ...
4         178  Admission Date:  [**2162-3-3**]              D...

In [18]:
def get_a1c_flag(a):
    try:
        if float(a) < 7.1:
            return "Good"
        elif float(a) >= 7.1 and float(a) < 10.1:
            return "Moderate"
        elif float(a) >= 10.1:
            return "Poor"
        else:
            return "Not Sure"
    except:
        return "Not a value"
output_array = []
count_of_bad_lines = 0
for i in range(len(text_df)):
    raw_text = text_df["Text"][i]
    remove_MIMIC_comments = re.sub(r"\[\*\*.*?\*\*\]", "", raw_text)
    remove_times = re.sub(r"\d{1,2}:\d{2}\s?P?A?\.?M\.?", "", remove_MIMIC_comments)
    cleaned_text = re.sub(r"\s{2,}", r" ", remove_times)
    
    context=markup_doc(cleaned_text)
    
    try:
        root = ElementTree.fromstring(context.getDocumentGraph().getXML())
    except ElementTree.ParseError:
        print("Input Line " + str(i) + " contains a character that is not valid in XML.")
        count_of_bad_lines += 1
        continue
    for node in root.findall('.//node'):
        phrase = node.find('.//phrase').text
        tmp1 =  re.sub(r"[A|a]1[C|c]", "", phrase)
        A1c_Value = re.sub(r"[^\d{1,2}\.?\d{0,1}]", "", tmp1)
        A1c_Flag = get_a1c_flag(A1c_Value)
        literal = node.find('.//literal').text
        Start = node.find('.//spanStart').text
        Stop = node.find('.//spanStop').text
        Node_ID = node.find('.//id').text
        category = node.find('.//category').text
        try:
            modified_by = node.find('.//modifyingNode').text
        except:
            modified_by = "None"
        try:
            modifying_category = node.find('.//modifyingCategory').text
        except:
            modifying_category = "None"
        try:
            node_modified = node.find('.//modifiedNode').text
        except:
            node_modified = "None"
        output_array.append([text_df["Identifier"][i], Start, Stop, phrase, literal, A1c_Value, A1c_Flag, Node_ID,
                             modifying_category, modified_by, node_modified])
print("Number of documents containing invalid text = ", count_of_bad_lines)
            
#output_array

Input Line 1241030 contains a character that is not valid in XML.
Input Line 1241403 contains a character that is not valid in XML.
Input Line 1242699 contains a character that is not valid in XML.
Input Line 1243701 contains a character that is not valid in XML.
Input Line 1243922 contains a character that is not valid in XML.
Input Line 1245238 contains a character that is not valid in XML.
Input Line 1246795 contains a character that is not valid in XML.
Input Line 1246890 contains a character that is not valid in XML.
Input Line 1247559 contains a character that is not valid in XML.
Input Line 1258525 contains a character that is not valid in XML.
Input Line 1261567 contains a character that is not valid in XML.
Input Line 1263152 contains a character that is not valid in XML.
Input Line 1263893 contains a character that is not valid in XML.
Input Line 1263895 contains a character that is not valid in XML.
Input Line 1263927 contains a character that is not valid in XML.
Input Line 1263928 contains a character that is not valid in XML.
Input Line 1263930 contains a character that is not valid in XML.
Input Line 1264840 contains a character that is not valid in XML.
Input Line 1269694 contains a character that is not valid in XML.
Input Line 1271208 contains a character that is not valid in XML.
Input Line 1271210 contains a character that is not valid in XML.
Input Line 1272301 contains a character that is not valid in XML.
Input Line 1273181 contains a character that is not valid in XML.
Input Line 1273972 contains a character that is not valid in XML.
Input Line 1274571 contains a character that is not valid in XML.
Input Line 1279292 contains a character that is not valid in XML.
Input Line 1280408 contains a character that is not valid in XML.
Input Line 1282027 contains a character that is not valid in XML.
Input Line 1283185 contains a character that is not valid in XML.
Input Line 1284481 contains a character that is not valid in XML.
Input Line 1286672 contains a character that is not valid in XML.
Input Line 1290615 contains a character that is not valid in XML.
Input Line 1291447 contains a character that is not valid in XML.
Input Line 1294486 contains a character that is not valid in XML.
Input Line 1294521 contains a character that is not valid in XML.
Input Line 1295529 contains a character that is not valid in XML.
Input Line 1296824 contains a character that is not valid in XML.
Input Line 1296974 contains a character that is not valid in XML.
Input Line 1299824 contains a character that is not valid in XML.
Input Line 1301146 contains a character that is not valid in XML.
Input Line 1301552 contains a character that is not valid in XML.
Input Line 1302974 contains a character that is not valid in XML.
Input Line 1305687 contains a character that is not valid in XML.
Input Line 1307467 contains a character that is not valid in XML.
Input Line 1307495 contains a character that is not valid in XML.
Input Line 1307802 contains a character that is not valid in XML.
Input Line 1309928 contains a character that is not valid in XML.
Input Line 1311107 contains a character that is not valid in XML.
Input Line 1311189 contains a character that is not valid in XML.
Input Line 1311245 contains a character that is not valid in XML.
Input Line 1312449 contains a character that is not valid in XML.
Input Line 1313947 contains a character that is not valid in XML.
Input Line 1314358 contains a character that is not valid in XML.
Input Line 1315714 contains a character that is not valid in XML.
Input Line 1316726 contains a character that is not valid in XML.
Input Line 1317166 contains a character that is not valid in XML.
Input Line 1317240 contains a character that is not valid in XML.
Input Line 1317271 contains a character that is not valid in XML.
Input Line 1319693 contains a character that is not valid in XML.
Input Line 1320143 contains a character that is not valid in XML.
Input Line 1320173 contains a character that is not valid in XML.
Input Line 1320259 contains a character that is not valid in XML.
Input Line 1323142 contains a character that is not valid in XML.
Input Line 1324816 contains a character that is not valid in XML.
Input Line 1325520 contains a character that is not valid in XML.
Input Line 1325579 contains a character that is not valid in XML.
Input Line 1327613 contains a character that is not valid in XML.
Input Line 1328512 contains a character that is not valid in XML.
Input Line 1328668 contains a character that is not valid in XML.
Input Line 1332696 contains a character that is not valid in XML.
Input Line 1333029 contains a character that is not valid in XML.
Input Line 1333409 contains a character that is not valid in XML.
Input Line 1334099 contains a character that is not valid in XML.
Input Line 1334830 contains a character that is not valid in XML.
Input Line 1335642 contains a character that is not valid in XML.
Input Line 1336193 contains a character that is not valid in XML.
Input Line 1338366 contains a character that is not valid in XML.
Input Line 1338721 contains a character that is not valid in XML.
Input Line 1339943 contains a character that is not valid in XML.
Input Line 1340030 contains a character that is not valid in XML.
Input Line 1340582 contains a character that is not valid in XML.
Input Line 1340911 contains a character that is not valid in XML.
Input Line 1341562 contains a character that is not valid in XML.
Input Line 1341993 contains a character that is not valid in XML.
Input Line 1343127 contains a character that is not valid in XML.
Input Line 1344199 contains a character that is not valid in XML.
Input Line 1351083 contains a character that is not valid in XML.
Input Line 1352928 contains a character that is not valid in XML.
Input Line 1353242 contains a character that is not valid in XML.
Input Line 1354078 contains a character that is not valid in XML.
Input Line 1356439 contains a character that is not valid in XML.
Input Line 1357619 contains a character that is not valid in XML.
Input Line 1360292 contains a character that is not valid in XML.
Input Line 1360391 contains a character that is not valid in XML.
Input Line 1365666 contains a character that is not valid in XML.
Input Line 1365667 contains a character that is not valid in XML.
Input Line 1366904 contains a character that is not valid in XML.
Input Line 1367222 contains a character that is not valid in XML.
Input Line 1368321 contains a character that is not valid in XML.
Input Line 1369250 contains a character that is not valid in XML.
Input Line 1370800 contains a character that is not valid in XML.
Input Line 1371665 contains a character that is not valid in XML.
Input Line 1371879 contains a character that is not valid in XML.
Input Line 1374064 contains a character that is not valid in XML.
Input Line 1374396 contains a character that is not valid in XML.
Input Line 1374740 contains a character that is not valid in XML.
Input Line 1375836 contains a character that is not valid in XML.
Input Line 1376054 contains a character that is not valid in XML.
Input Line 1376956 contains a character that is not valid in XML.
Input Line 1378219 contains a character that is not valid in XML.
Input Line 1380327 contains a character that is not valid in XML.
Input Line 1381362 contains a character that is not valid in XML.
Input Line 1381559 contains a character that is not valid in XML.
Input Line 1382062 contains a character that is not valid in XML.
Input Line 1384601 contains a character that is not valid in XML.
Input Line 1385152 contains a character that is not valid in XML.
Input Line 1385535 contains a character that is not valid in XML.
Input Line 1386840 contains a character that is not valid in XML.
Input Line 1388027 contains a character that is not valid in XML.
Input Line 1389023 contains a character that is not valid in XML.
Input Line 1391979 contains a character that is not valid in XML.
Input Line 1393338 contains a character that is not valid in XML.
Input Line 1393688 contains a character that is not valid in XML.
Input Line 1393883 contains a character that is not valid in XML.
Input Line 1395851 contains a character that is not valid in XML.

Input Line 1396786 contains a character that is not valid in XML.
Input Line 1398240 contains a character that is not valid in XML.
Input Line 1400867 contains a character that is not valid in XML.
Input Line 1402199 contains a character that is not valid in XML.
Input Line 1402713 contains a character that is not valid in XML.
Input Line 1404089 contains a character that is not valid in XML.
Input Line 1405116 contains a character that is not valid in XML.
Input Line 1405755 contains a character that is not valid in XML.
Input Line 1406276 contains a character that is not valid in XML.
Input Line 1406307 contains a character that is not valid in XML.
Input Line 1407131 contains a character that is not valid in XML.
Input Line 1407332 contains a character that is not valid in XML.
Input Line 1408142 contains a character that is not valid in XML.
Input Line 1409235 contains a character that is not valid in XML.
Input Line 1411997 contains a character that is not valid in XML.
Input Line 1413480 contains a character that is not valid in XML.
Input Line 1414747 contains a character that is not valid in XML.
Input Line 1415502 contains a character that is not valid in XML.
Input Line 1417372 contains a character that is not valid in XML.
Input Line 1421580 contains a character that is not valid in XML.
Input Line 1422190 contains a character that is not valid in XML.
Input Line 1422737 contains a character that is not valid in XML.
Input Line 1423402 contains a character that is not valid in XML.
Input Line 1423873 contains a character that is not valid in XML.
Input Line 1424152 contains a character that is not valid in XML.
Input Line 1424718 contains a character that is not valid in XML.
Input Line 1427377 contains a character that is not valid in XML.
Input Line 1429549 contains a character that is not valid in XML.
Input Line 1432117 contains a character that is not valid in XML.
Input Line 1434440 contains a character that is not valid in XML.
Input Line 1434667 contains a character that is not valid in XML.
Input Line 1435639 contains a character that is not valid in XML.
Input Line 1439608 contains a character that is not valid in XML.
Input Line 1445519 contains a character that is not valid in XML.
Input Line 1446551 contains a character that is not valid in XML.
Input Line 1446996 contains a character that is not valid in XML.
Input Line 1447278 contains a character that is not valid in XML.
Input Line 1447781 contains a character that is not valid in XML.
Input Line 1448312 contains a character that is not valid in XML.
Input Line 1449732 contains a character that is not valid in XML.
Input Line 1450270 contains a character that is not valid in XML.
Input Line 1450575 contains a character that is not valid in XML.
Input Line 1450816 contains a character that is not valid in XML.
Input Line 1452638 contains a character that is not valid in XML.
Input Line 1453694 contains a character that is not valid in XML.
Input Line 1453885 contains a character that is not valid in XML.
Input Line 1455144 contains a character that is not valid in XML.
Input Line 1456399 contains a character that is not valid in XML.
Input Line 1456490 contains a character that is not valid in XML.
Input Line 1457128 contains a character that is not valid in XML.
Input Line 1457297 contains a character that is not valid in XML.
Input Line 1457298 contains a character that is not valid in XML.
Input Line 1460925 contains a character that is not valid in XML.
Input Line 1463343 contains a character that is not valid in XML.
Input Line 1464371 contains a character that is not valid in XML.
Input Line 1465311 contains a character that is not valid in XML.
Input Line 1467417 contains a character that is not valid in XML.
Input Line 1467436 contains a character that is not valid in XML.
Input Line 1469483 contains a character that is not valid in XML.
Input Line 1469751 contains a character that is not valid in XML.
Input Line 1470049 contains a character that is not valid in XML.
Input Line 1471317 contains a character that is not valid in XML.
Input Line 1472125 contains a character that is not valid in XML.
Input Line 1472389 contains a character that is not valid in XML.
Input Line 1472432 contains a character that is not valid in XML.
Input Line 1472508 contains a character that is not valid in XML.
Input Line 1473169 contains a character that is not valid in XML.
Input Line 1473803 contains a character that is not valid in XML.
Input Line 1475976 contains a character that is not valid in XML.
Input Line 1476538 contains a character that is not valid in XML.
Input Line 1478360 contains a character that is not valid in XML.
Input Line 1479562 contains a character that is not valid in XML.
Input Line 1480302 contains a character that is not valid in XML.
Input Line 1480412 contains a character that is not valid in XML.
Input Line 1480537 contains a character that is not valid in XML.
Input Line 1482137 contains a character that is not valid in XML.
Input Line 1482287 contains a character that is not valid in XML.
Input Line 1483629 contains a character that is not valid in XML.
Input Line 1485111 contains a character that is not valid in XML.
Input Line 1487085 contains a character that is not valid in XML.
Input Line 1487090 contains a character that is not valid in XML.
Input Line 1488733 contains a character that is not valid in XML.
Input Line 1490313 contains a character that is not valid in XML.
Input Line 1492220 contains a character that is not valid in XML.
Input Line 1494071 contains a character that is not valid in XML.
Input Line 1495353 contains a character that is not valid in XML.
Input Line 1495886 contains a character that is not valid in XML.
Input Line 1498279 contains a character that is not valid in XML.
Input Line 1502518 contains a character that is not valid in XML.
Input Line 1503339 contains a character that is not valid in XML.
Input Line 1505193 contains a character that is not valid in XML.
Input Line 1505204 contains a character that is not valid in XML.
Input Line 1505592 contains a character that is not valid in XML.
Input Line 1505869 contains a character that is not valid in XML.
Input Line 1506990 contains a character that is not valid in XML.
Input Line 1507742 contains a character that is not valid in XML.
Input Line 1507830 contains a character that is not valid in XML.
Input Line 1509449 contains a character that is not valid in XML.
Input Line 1509907 contains a character that is not valid in XML.
Input Line 1510503 contains a character that is not valid in XML.
Input Line 1511059 contains a character that is not valid in XML.
Input Line 1512759 contains a character that is not valid in XML.
Input Line 1512860 contains a character that is not valid in XML.
Input Line 1515178 contains a character that is not valid in XML.
Input Line 1518816 contains a character that is not valid in XML.
Input Line 1519236 contains a character that is not valid in XML.
Input Line 1519575 contains a character that is not valid in XML.
Input Line 1520166 contains a character that is not valid in XML.
Input Line 1526165 contains a character that is not valid in XML.
Input Line 1526303 contains a character that is not valid in XML.
Input Line 1526344 contains a character that is not valid in XML.
Input Line 1526712 contains a character that is not valid in XML.
Input Line 1526833 contains a character that is not valid in XML.
Input Line 1529921 contains a character that is not valid in XML.
Input Line 1530628 contains a character that is not valid in XML.
Input Line 1534088 contains a character that is not valid in XML.
Input Line 1534214 contains a character that is not valid in XML.
Input Line 1535845 contains a character that is not valid in XML.
Input Line 1536809 contains a character that is not valid in XML.
Input Line 1536815 contains a character that is not valid in XML.
Input Line 1538495 contains a character that is not valid in XML.
Input Line 1543620 contains a character that is not valid in XML.
Input Line 1544006 contains a character that is not valid in XML.
Input Line 1545733 contains a character that is not valid in XML.
Input Line 1545744 contains a character that is not valid in XML.
Input Line 1546025 contains a character that is not valid in XML.

Input Line 1547073 contains a character that is not valid in XML.
Input Line 1549290 contains a character that is not valid in XML.
Input Line 1550760 contains a character that is not valid in XML.
Input Line 1550847 contains a character that is not valid in XML.
Input Line 1554919 contains a character that is not valid in XML.
Input Line 1555752 contains a character that is not valid in XML.
Input Line 1556538 contains a character that is not valid in XML.
Input Line 1561347 contains a character that is not valid in XML.
Input Line 1561439 contains a character that is not valid in XML.
Input Line 1564107 contains a character that is not valid in XML.
Input Line 1564117 contains a character that is not valid in XML.
Input Line 1565215 contains a character that is not valid in XML.
Input Line 1566620 contains a character that is not valid in XML.
Input Line 1567106 contains a character that is not valid in XML.
Input Line 1571183 contains a character that is not valid in XML.
Input Line 1571185 contains a character that is not valid in XML.
Input Line 1571922 contains a character that is not valid in XML.
Input Line 1572762 contains a character that is not valid in XML.
Input Line 1573887 contains a character that is not valid in XML.
Input Line 1574454 contains a character that is not valid in XML.
Input Line 1574510 contains a character that is not valid in XML.
Input Line 1575022 contains a character that is not valid in XML.
Input Line 1575211 contains a character that is not valid in XML.
Input Line 1576913 contains a character that is not valid in XML.
Input Line 1577781 contains a character that is not valid in XML.
Input Line 1578117 contains a character that is not valid in XML.
Input Line 1578308 contains a character that is not valid in XML.
Input Line 1578642 contains a character that is not valid in XML.
Input Line 1580736 contains a character that is not valid in XML.
Input Line 1583168 contains a character that is not valid in XML.
Input Line 1584860 contains a character that is not valid in XML.
Input Line 1588554 contains a character that is not valid in XML.
Input Line 1588639 contains a character that is not valid in XML.
Input Line 1590982 contains a character that is not valid in XML.
Input Line 1592348 contains a character that is not valid in XML.
Input Line 1593072 contains a character that is not valid in XML.
Input Line 1593728 contains a character that is not valid in XML.
Input Line 1594181 contains a character that is not valid in XML.
Input Line 1594485 contains a character that is not valid in XML.
Input Line 1595012 contains a character that is not valid in XML.
Input Line 1595467 contains a character that is not valid in XML.
Input Line 1595555 contains a character that is not valid in XML.
Input Line 1595604 contains a character that is not valid in XML.
Input Line 1595690 contains a character that is not valid in XML.
Input Line 1596079 contains a character that is not valid in XML.
Input Line 1596316 contains a character that is not valid in XML.
Input Line 1596395 contains a character that is not valid in XML.
Input Line 1596743 contains a character that is not valid in XML.
Input Line 1596771 contains a character that is not valid in XML.
Input Line 1597602 contains a character that is not valid in XML.
Input Line 1597849 contains a character that is not valid in XML.
Input Line 1598907 contains a character that is not valid in XML.
Input Line 1599312 contains a character that is not valid in XML.
Input Line 1599384 contains a character that is not valid in XML.
Input Line 1599400 contains a character that is not valid in XML.
Input Line 1600956 contains a character that is not valid in XML.
Input Line 1601324 contains a character that is not valid in XML.
Input Line 1604578 contains a character that is not valid in XML.
Input Line 1604579 contains a character that is not valid in XML.
Input Line 1605763 contains a character that is not valid in XML.
Input Line 1609923 contains a character that is not valid in XML.
Input Line 1610932 contains a character that is not valid in XML.
Input Line 1610987 contains a character that is not valid in XML.
Input Line 1611278 contains a character that is not valid in XML.
Input Line 1612772 contains a character that is not valid in XML.
Input Line 1613039 contains a character that is not valid in XML.
Input Line 1613459 contains a character that is not valid in XML.
Input Line 1613875 contains a character that is not valid in XML.
Input Line 1613994 contains a character that is not valid in XML.
Input Line 1614339 contains a character that is not valid in XML.
Input Line 1614595 contains a character that is not valid in XML.
Input Line 1614625 contains a character that is not valid in XML.
Input Line 1614764 contains a character that is not valid in XML.
Input Line 1615203 contains a character that is not valid in XML.
Input Line 1615342 contains a character that is not valid in XML.
Input Line 1616537 contains a character that is not valid in XML.
Input Line 1616966 contains a character that is not valid in XML.
Input Line 1617171 contains a character that is not valid in XML.
Input Line 1617893 contains a character that is not valid in XML.
Input Line 1618565 contains a character that is not valid in XML.
Input Line 1618676 contains a character that is not valid in XML.
Input Line 1618928 contains a character that is not valid in XML.
Input Line 1618963 contains a character that is not valid in XML.
Input Line 1619312 contains a character that is not valid in XML.
Input Line 1619409 contains a character that is not valid in XML.
Input Line 1619423 contains a character that is not valid in XML.
Input Line 1619933 contains a character that is not valid in XML.
Input Line 1620245 contains a character that is not valid in XML.
Input Line 1621330 contains a character that is not valid in XML.
Input Line 1621848 contains a character that is not valid in XML.
Input Line 1621900 contains a character that is not valid in XML.
Input Line 1622281 contains a character that is not valid in XML.
Input Line 1622504 contains a character that is not valid in XML.
Input Line 1622561 contains a character that is not valid in XML.
Input Line 1622810 contains a character that is not valid in XML.
Input Line 1622953 contains a character that is not valid in XML.
Input Line 1623739 contains a character that is not valid in XML.
Input Line 1624767 contains a character that is not valid in XML.
Input Line 1624969 contains a character that is not valid in XML.
Input Line 1626071 contains a character that is not valid in XML.
Input Line 1627417 contains a character that is not valid in XML.
Input Line 1628118 contains a character that is not valid in XML.
Input Line 1628301 contains a character that is not valid in XML.
Input Line 1628474 contains a character that is not valid in XML.
Input Line 1628632 contains a character that is not valid in XML.
Input Line 1628818 contains a character that is not valid in XML.
Input Line 1629047 contains a character that is not valid in XML.
Input Line 1629872 contains a character that is not valid in XML.
Input Line 1631847 contains a character that is not valid in XML.
Input Line 1632070 contains a character that is not valid in XML.
Input Line 1632928 contains a character that is not valid in XML.
Input Line 1633316 contains a character that is not valid in XML.
Input Line 1633668 contains a character that is not valid in XML.
Input Line 1634073 contains a character that is not valid in XML.
Input Line 1634377 contains a character that is not valid in XML.
Input Line 1634574 contains a character that is not valid in XML.
Input Line 1634703 contains a character that is not valid in XML.
Input Line 1634913 contains a character that is not valid in XML.
Input Line 1635478 contains a character that is not valid in XML.
Input Line 1635603 contains a character that is not valid in XML.
Input Line 1636305 contains a character that is not valid in XML.
Input Line 1637267 contains a character that is not valid in XML.
Input Line 1637324 contains a character that is not valid in XML.
Input Line 1637564 contains a character that is not valid in XML.
Input Line 1637959 contains a character that is not valid in XML.
Input Line 1638163 contains a character that is not valid in XML.
Input Line 1638305 contains a character that is not valid in XML.

Input Line 1638698 contains a character that is not valid in XML.
Input Line 1638713 contains a character that is not valid in XML.
Input Line 1638860 contains a character that is not valid in XML.
Input Line 1638976 contains a character that is not valid in XML.
Input Line 1639158 contains a character that is not valid in XML.
Input Line 1639160 contains a character that is not valid in XML.
Input Line 1639807 contains a character that is not valid in XML.
Input Line 1640110 contains a character that is not valid in XML.
Input Line 1640125 contains a character that is not valid in XML.
Input Line 1641039 contains a character that is not valid in XML.
Input Line 1641471 contains a character that is not valid in XML.
Input Line 1643271 contains a character that is not valid in XML.
Input Line 1643723 contains a character that is not valid in XML.
Input Line 1644093 contains a character that is not valid in XML.
Input Line 1644106 contains a character that is not valid in XML.
Input Line 1645218 contains a character that is not valid in XML.
Input Line 1645544 contains a character that is not valid in XML.
Input Line 1646702 contains a character that is not valid in XML.
Input Line 1647098 contains a character that is not valid in XML.
Input Line 1647423 contains a character that is not valid in XML.
Input Line 1647426 contains a character that is not valid in XML.
Input Line 1647499 contains a character that is not valid in XML.
Input Line 1647545 contains a character that is not valid in XML.
Input Line 1648006 contains a character that is not valid in XML.
Input Line 1648559 contains a character that is not valid in XML.
Input Line 1648908 contains a character that is not valid in XML.
Input Line 1649028 contains a character that is not valid in XML.
Input Line 1649288 contains a character that is not valid in XML.
Input Line 1649315 contains a character that is not valid in XML.
Input Line 1649685 contains a character that is not valid in XML.
Input Line 1650622 contains a character that is not valid in XML.
Input Line 1650792 contains a character that is not valid in XML.
Input Line 1651973 contains a character that is not valid in XML.
Input Line 1652043 contains a character that is not valid in XML.
Input Line 1652624 contains a character that is not valid in XML.
Input Line 1652744 contains a character that is not valid in XML.
Input Line 1652840 contains a character that is not valid in XML.
Input Line 1653038 contains a character that is not valid in XML.
Input Line 1653125 contains a character that is not valid in XML.
Input Line 1653555 contains a character that is not valid in XML.
Input Line 1654296 contains a character that is not valid in XML.
Input Line 1654356 contains a character that is not valid in XML.
Input Line 1654536 contains a character that is not valid in XML.
Input Line 1655078 contains a character that is not valid in XML.
Input Line 1655260 contains a character that is not valid in XML.
Input Line 1655786 contains a character that is not valid in XML.
Input Line 1656835 contains a character that is not valid in XML.
Input Line 1658464 contains a character that is not valid in XML.
Input Line 1658622 contains a character that is not valid in XML.
Input Line 1658644 contains a character that is not valid in XML.
Input Line 1659755 contains a character that is not valid in XML.
Input Line 1663820 contains a character that is not valid in XML.
Input Line 1670530 contains a character that is not valid in XML.
Input Line 1672498 contains a character that is not valid in XML.
Input Line 1674453 contains a character that is not valid in XML.
Input Line 1674776 contains a character that is not valid in XML.
Input Line 1675564 contains a character that is not valid in XML.
Input Line 1676895 contains a character that is not valid in XML.
Input Line 1677236 contains a character that is not valid in XML.
Input Line 1677418 contains a character that is not valid in XML.
Input Line 1677698 contains a character that is not valid in XML.
Input Line 1679002 contains a character that is not valid in XML.
Input Line 1683985 contains a character that is not valid in XML.
Input Line 1684921 contains a character that is not valid in XML.
Input Line 1685160 contains a character that is not valid in XML.
Input Line 1689409 contains a character that is not valid in XML.
Input Line 1689995 contains a character that is not valid in XML.
Input Line 1690432 contains a character that is not valid in XML.
Input Line 1691285 contains a character that is not valid in XML.
Input Line 1691395 contains a character that is not valid in XML.
Input Line 1691859 contains a character that is not valid in XML.
Input Line 1692384 contains a character that is not valid in XML.
Input Line 1692631 contains a character that is not valid in XML.
Input Line 1692927 contains a character that is not valid in XML.
Input Line 1693134 contains a character that is not valid in XML.
Input Line 1693962 contains a character that is not valid in XML.
Input Line 1694159 contains a character that is not valid in XML.
Input Line 1694718 contains a character that is not valid in XML.
Input Line 1695014 contains a character that is not valid in XML.
Input Line 1696051 contains a character that is not valid in XML.
Input Line 1696529 contains a character that is not valid in XML.
Input Line 1696973 contains a character that is not valid in XML.
Input Line 1705254 contains a character that is not valid in XML.
Input Line 1706976 contains a character that is not valid in XML.
Input Line 1708976 contains a character that is not valid in XML.
Input Line 1710555 contains a character that is not valid in XML.
Input Line 1710556 contains a character that is not valid in XML.
Input Line 1710672 contains a character that is not valid in XML.
Input Line 1713712 contains a character that is not valid in XML.
Input Line 1714696 contains a character that is not valid in XML.
Input Line 1720660 contains a character that is not valid in XML.
Input Line 1723052 contains a character that is not valid in XML.
Input Line 1729174 contains a character that is not valid in XML.
Input Line 1731123 contains a character that is not valid in XML.
Input Line 1735481 contains a character that is not valid in XML.
Input Line 1755614 contains a character that is not valid in XML.
Input Line 1756094 contains a character that is not valid in XML.
Input Line 1757704 contains a character that is not valid in XML.
Input Line 1758200 contains a character that is not valid in XML.
Input Line 1765812 contains a character that is not valid in XML.
Input Line 1775347 contains a character that is not valid in XML.
Input Line 1804941 contains a character that is not valid in XML.
Input Line 1810408 contains a character that is not valid in XML.
Input Line 1810708 contains a character that is not valid in XML.
Input Line 1841873 contains a character that is not valid in XML.
Input Line 1849531 contains a character that is not valid in XML.
Input Line 1852516 contains a character that is not valid in XML.
Input Line 1857934 contains a character that is not valid in XML.
Input Line 1862885 contains a character that is not valid in XML.
Input Line 1864118 contains a character that is not valid in XML.
Input Line 1864447 contains a character that is not valid in XML.
Input Line 1873849 contains a character that is not valid in XML.
Input Line 1880021 contains a character that is not valid in XML.
Input Line 1884730 contains a character that is not valid in XML.
Input Line 1906715 contains a character that is not valid in XML.
Input Line 1906799 contains a character that is not valid in XML.
Input Line 1907349 contains a character that is not valid in XML.
Input Line 1908328 contains a character that is not valid in XML.
Input Line 1926664 contains a character that is not valid in XML.
Input Line 1927288 contains a character that is not valid in XML.
Input Line 1929683 contains a character that is not valid in XML.
Input Line 1930922 contains a character that is not valid in XML.
Input Line 1932252 contains a character that is not valid in XML.
Input Line 1957703 contains a character that is not valid in XML.
Input Line 1961277 contains a character that is not valid in XML.

Input Line 1968593 contains a character that is not valid in XML.
Input Line 1971236 contains a character that is not valid in XML.
Input Line 1976176 contains a character that is not valid in XML.
Input Line 1979230 contains a character that is not valid in XML.
Input Line 1984383 contains a character that is not valid in XML.
Input Line 1988990 contains a character that is not valid in XML.
Input Line 1991117 contains a character that is not valid in XML.
Input Line 1993933 contains a character that is not valid in XML.
Input Line 2000880 contains a character that is not valid in XML.
Input Line 2002131 contains a character that is not valid in XML.
Input Line 2007838 contains a character that is not valid in XML.
Input Line 2014665 contains a character that is not valid in XML.
Input Line 2019691 contains a character that is not valid in XML.
Input Line 2019879 contains a character that is not valid in XML.
Input Line 2020174 contains a character that is not valid in XML.
Input Line 2020845 contains a character that is not valid in XML.
Input Line 2022501 contains a character that is not valid in XML.
Input Line 2022597 contains a character that is not valid in XML.
Input Line 2022691 contains a character that is not valid in XML.
Input Line 2022846 contains a character that is not valid in XML.
Input Line 2022968 contains a character that is not valid in XML.
Input Line 2022973 contains a character that is not valid in XML.
Input Line 2023133 contains a character that is not valid in XML.
Input Line 2024035 contains a character that is not valid in XML.
Input Line 2024102 contains a character that is not valid in XML.
Input Line 2034907 contains a character that is not valid in XML.
Input Line 2036697 contains a character that is not valid in XML.
Input Line 2038066 contains a character that is not valid in XML.
Input Line 2038067 contains a character that is not valid in XML.
Input Line 2039011 contains a character that is not valid in XML.
Input Line 2039924 contains a character that is not valid in XML.
Input Line 2040819 contains a character that is not valid in XML.
Input Line 2040871 contains a character that is not valid in XML.
Input Line 2040938 contains a character that is not valid in XML.
Input Line 2041165 contains a character that is not valid in XML.
Input Line 2041634 contains a character that is not valid in XML.
Input Line 2042090 contains a character that is not valid in XML.
Input Line 2042403 contains a character that is not valid in XML.
Input Line 2043538 contains a character that is not valid in XML.
Input Line 2043771 contains a character that is not valid in XML.
Input Line 2045787 contains a character that is not valid in XML.
Input Line 2045983 contains a character that is not valid in XML.
Input Line 2046642 contains a character that is not valid in XML.
Input Line 2046646 contains a character that is not valid in XML.
Input Line 2047818 contains a character that is not valid in XML.
Input Line 2047954 contains a character that is not valid in XML.
Input Line 2048131 contains a character that is not valid in XML.
Input Line 2048349 contains a character that is not valid in XML.
Input Line 2048644 contains a character that is not valid in XML.
Input Line 2048730 contains a character that is not valid in XML.
Input Line 2049009 contains a character that is not valid in XML.
Input Line 2049355 contains a character that is not valid in XML.
Input Line 2049847 contains a character that is not valid in XML.
Input Line 2050010 contains a character that is not valid in XML.
Input Line 2050307 contains a character that is not valid in XML.
Input Line 2050512 contains a character that is not valid in XML.
Input Line 2050779 contains a character that is not valid in XML.
Input Line 2050783 contains a character that is not valid in XML.
Input Line 2051008 contains a character that is not valid in XML.
Input Line 2051262 contains a character that is not valid in XML.
Input Line 2051362 contains a character that is not valid in XML.
Input Line 2051687 contains a character that is not valid in XML.
Input Line 2052381 contains a character that is not valid in XML.
Input Line 2052401 contains a character that is not valid in XML.
Input Line 2052797 contains a character that is not valid in XML.
Input Line 2053020 contains a character that is not valid in XML.
Input Line 2053163 contains a character that is not valid in XML.
Input Line 2053179 contains a character that is not valid in XML.
Input Line 2053325 contains a character that is not valid in XML.
Input Line 2053898 contains a character that is not valid in XML.
Input Line 2055309 contains a character that is not valid in XML.
Input Line 2055651 contains a character that is not valid in XML.
Input Line 2055932 contains a character that is not valid in XML.
Input Line 2055957 contains a character that is not valid in XML.
Input Line 2056075 contains a character that is not valid in XML.
Input Line 2056938 contains a character that is not valid in XML.
Input Line 2057328 contains a character that is not valid in XML.
Input Line 2057771 contains a character that is not valid in XML.
Input Line 2058283 contains a character that is not valid in XML.
Input Line 2058285 contains a character that is not valid in XML.
Input Line 2058493 contains a character that is not valid in XML.
Input Line 2058494 contains a character that is not valid in XML.
Input Line 2059507 contains a character that is not valid in XML.
Input Line 2059818 contains a character that is not valid in XML.
Input Line 2061906 contains a character that is not valid in XML.
Input Line 2061936 contains a character that is not valid in XML.
Input Line 2061938 contains a character that is not valid in XML.
Input Line 2062159 contains a character that is not valid in XML.
Input Line 2063866 contains a character that is not valid in XML.
Input Line 2063914 contains a character that is not valid in XML.
Input Line 2064361 contains a character that is not valid in XML.
Input Line 2064827 contains a character that is not valid in XML.
Input Line 2065042 contains a character that is not valid in XML.
Input Line 2067432 contains a character that is not valid in XML.
Input Line 2067493 contains a character that is not valid in XML.
Input Line 2067961 contains a character that is not valid in XML.
Input Line 2070242 contains a character that is not valid in XML.
Input Line 2070421 contains a character that is not valid in XML.
Input Line 2070470 contains a character that is not valid in XML.
Input Line 2071002 contains a character that is not valid in XML.
Input Line 2071473 contains a character that is not valid in XML.
Input Line 2071895 contains a character that is not valid in XML.
Input Line 2072765 contains a character that is not valid in XML.
Input Line 2073466 contains a character that is not valid in XML.
Input Line 2073564 contains a character that is not valid in XML.
Input Line 2074479 contains a character that is not valid in XML.
Input Line 2076250 contains a character that is not valid in XML.
Input Line 2076604 contains a character that is not valid in XML.
Input Line 2077889 contains a character that is not valid in XML.
Input Line 2078402 contains a character that is not valid in XML.
Input Line 2078597 contains a character that is not valid in XML.
Input Line 2078973 contains a character that is not valid in XML.
Input Line 2079430 contains a character that is not valid in XML.
Input Line 2079622 contains a character that is not valid in XML.
Input Line 2080870 contains a character that is not valid in XML.
Input Line 2081122 contains a character that is not valid in XML.
Input Line 2081476 contains a character that is not valid in XML.
Input Line 2081567 contains a character that is not valid in XML.
Input Line 2081788 contains a character that is not valid in XML.
Input Line 2082007 contains a character that is not valid in XML.
Input Line 2082069 contains a character that is not valid in XML.
Input Line 2082150 contains a character that is not valid in XML.
Input Line 2082237 contains a character that is not valid in XML.
Input Line 2082550 contains a character that is not valid in XML.
Input Line 2082584 contains a character that is not valid in XML.

In [19]:
len(output_array)

11489

In [17]:
type(output_array)

list

In [19]:
test_df = pd.DataFrame(output_array, columns=("Identifier", "Start", "Stop", "Phrase", "Annotation_Type", "A1c_Value", "A1c_Flag", "Node_ID", "Modifying_Category", "Modified_By", "Node_Modified"))
test_df.tail() # New dataframe name

,Identifier,Start,Stop,Phrase,Annotation_Type,A1c_Value,A1c_Flag,Node_ID,Modifying_Category,Modified_By,Node_Modified
11358,871855,379,387,A1C 16.5,A1C_COLON_OR_SPACE,16.5,Poor,104369333023302219760999297321664009023,None,None,None
11359,961497,61,67,A1C 13,A1C_COLON_OR_SPACE,13,Poor,139753657991440482938734613806757466943,None,None,None
11360,1212092,311,318,A1C 7.2,A1C_COLON_OR_SPACE,7.2,Moderate,234934268417259419230930970163800462143,None,None,None
11361,1212344,279,286,A1C 7.2,A1C_COLON_OR_SPACE,7.2,Moderate,234997228661164629672086431734813971263,None,None,None
11362,1211386,330,338,A1c 12.4,A1C_COLON_OR_SPACE,12.4,Poor,235891431771410498119832333982204711743,None,None,None

I had put in f/u as a modifier so that it would have a modifier file, but all of my targets require a value. In other words, if they put f/u and a value it is either a mistake typing or it refers to something else. As such, I can get rid of all of the modifier columns and the rows about node ID, modifying node, modified by, and node modified.

In [20]:
modifier_columns = test_df[test_df["Node_Modified"]!="None"]
len(modifier_columns)

848

In [21]:
modifier_columns = test_df[test_df["Node_Modified"]!="None"]
A1c_Value_Results = test_df[["Identifier", "Start", "Stop", "Phrase", "Annotation_Type", "A1c_Value", "A1c_Flag"]].drop(modifier_columns.index, axis = 0)
len(A1c_Value_Results)

10515

In [22]:
A1c_Value_Results.head()

,Identifier,Start,Stop,Phrase,Annotation_Type,A1c_Value,A1c_Flag
0,242,3020,3027,A1c-5.4,A1C_DASH,5.4,Good
1,193,3764,3771,A1c-9.4,A1C_DASH,9.4,Moderate
2,193,6900,6907,A1c 9.4,A1C_COLON_OR_SPACE,9.4,Moderate
3,196,2158,2169,A1C was 5.9,A1C_IS_OR_WAS,5.9,Good
4,198,2991,2998,A1c 6.3,A1C_COLON_OR_SPACE,6.3,Good

In [17]:
A1c_Value_Results["A1c_Value"] = A1c_Value_Results["A1c_Value"].apply(pd.to_numeric)
A1c_Value_Results = A1c_Value_Results.groupby("Identifier").apply(lambda x: x.loc[x.A1c_Value.idxmax()])
A1c_Value_Results.to_csv("Output_Files/A1c_Results_Test_Dataset.csv") #New output file names
modifier_columns.to_csv("Output_Files/Modifier_Columns_to_A1c_Test_Dataset.csv") # I know this isn't needed, but I am going to save it for just in case

In [18]:
A1c_Value_Results.head()

,Identifier,Start,Stop,Phrase,Annotation_Type,A1c_Value,A1c_Flag
Identifier,,,,,,,
26293,26293,487,498,A1C was 5.7,A1C_IS_OR_WAS,5.7,Good
3010,3010,1143,1153,A1C of 6.7,A1C_IN_OF,6.7,Good
405628,405628,173,180,A1C:6.4,A1C_COLON_OR_SPACE,6.4,Good
410226,410226,560,567,A1c 7.0,A1C_COLON_OR_SPACE,7.0,Good
420089,420089,129,137,A1c: 6.2,A1C_COLON_OR_SPACE,6.2,Good

In [23]:
A1c_Value_Results.to_csv("Output_Files/MIMIC_Results_A1c.csv")

In [25]:
A1c_Value_Results.groupby("A1c_Flag").count()

          Identifier  Start  Stop  Phrase  Annotation_Type  A1c_Value
A1c_Flag
Good            7160   7160  7160    7160             7160       7160
Moderate        2428   2428  2428    2428             2428       2428
Poor             927    927   927     927              927        927

It looks like it read all the way through the entire dataset. I have A1c values from 10,515 documents.
7,160 of them have a good A1c (below 7.0%)
2,428 of them have moderate A1c value (between 7 and 10%)
927 of them have high A1c values above 10%.

In [26]:
my_targets=itemData.get_items('Yaml_Files/Diabetes_targets.yml')
my_modifiers=itemData.get_items('Yaml_Files/Diabetes_modifiers.yml')

In [14]:

output_array = []
count_of_bad_lines = 0
for i in range(len(text_df)):
    raw_text = text_df["Text"][i]
    remove_MIMIC_comments = re.sub(r"\[\*\*.*?\*\*\]", "", raw_text)
    remove_times = re.sub(r"\d{1,2}:\d{2}\s?P?A?\.?M\.?", "", remove_MIMIC_comments)
    cleaned_text = re.sub(r"\s{2,}", r" ", remove_times)
    
    context=markup_doc(cleaned_text)
    try:
        root = ElementTree.fromstring(context.getDocumentGraph().getXML())
    except ElementTree.ParseError:
        print("Line Number "+str(i)+ " contains a character that is not valid in XML.")
        count_of_bad_lines += 1
        continue
    for node in root.findall('.//node'):
        phrase = node.find('.//phrase').text
        #tmp1 =  re.sub(r"[A|a]1[C|c]", "", phrase)
        #A1c_Value = re.sub(r"[^\d{1,2}\.?\d{0,1}]", "", tmp1)
        #A1c_Flag = get_a1c_flag(A1c_Value)
        literal = node.find('.//literal').text
        Start = node.find('.//spanStart').text
        Stop = node.find('.//spanStop').text
        Node_ID = node.find('.//id').text
        category = node.find('./category').text #This picks up target or modifier, not useful
        try:
            modified_by = node.find('.//modifyingNode').text
        except:
            modified_by = "None"
        try:
            modifying_category = node.find('.//modifyingCategory').text
        except:
            modifying_category = "None"
        try:
            node_modified = node.find('.//modifiedNode').text
        except:
            node_modified = "None"
        output_array.append([text_df["Identifier"][i], Start, Stop, phrase, literal, Node_ID,
                             modifying_category, modified_by, node_modified])
print("Number of documents containing invalid text = ", count_of_bad_lines)

KeyboardInterrupt:

This gives a parse error for both of these, but the number of documents containing mentions actually matches what I got using SQL, so I believe both systems have finished correctly.

In [28]:
output_array
train_df = pd.DataFrame(output_array, columns=("Identifier", "Start", "Stop", "Phrase", "Annotation_Type", "Node_ID", "Modifying_Category", "Modified_By", "Node_Modified"))
train_df

,Identifier,Start,Stop,Phrase,Annotation_Type,Node_ID,Modifying_Category,Modified_By,Node_Modified
0,179,2417,2420,not,NOT,333229351697215573041743895114373681983,None,None,333229664648457504385877389612977509183
1,179,2560,2568,diabetes,DIABETES_OR_DIABETIC,333229664648457504385877389612977509183,['hypothetical_diabetes'],333228793138669847478163860629523813183,None
2,179,2638,2640,no,NOT,333229363581439950181394534145966232383,None,None,333229664648457504385877389612977509183
3,179,2839,2845,likely,HYPOTHETICAL_DIABETES,333228793138669847478163860629523813183,None,None,333229664648457504385877389612977509183
4,179,3305,3307,no,NOT,333229388142170329603339188144590836543,None,None,333229664648457504385877389612977509183
5,179,3766,3773,with no,NOT,333229407949210958169423586530578420543,None,None,333229664648457504385877389612977509183
6,179,5057,5059,no,NOT,333229451524700341014809262979751105343,None,None,333229664648457504385877389612977509183
7,179,5530,5533,not,NOT,333229470539459344438250285430299185983,None,None,333229664648457504385877389612977509183
8,179,5932,5935,not,NOT,333229487969655097576404556009968259903,None,None,333229664648457504385877389612977509183
9,179,6700,6703,not,NOT,333229514907230352426279337814911374143,None,None,333229664648457504385877389612977509183
10,184,500,517,diabetes mellitus,DIABETES_OR_DIABETIC,333257280416783476363388995292306625343,['diabetes_in_other'],333253075778198844354992905914862293823,None
11,184,1129,1132,not,NOT,333256435844571074305550248113796043583,None,None,333257280416783476363388995292306625343
12,184,1200,1204,free,NOT,333256446936513826302557511209949090623,None,None,333257280416783476363388995292306625343
13,184,2064,2070,denies,DENIES,333256168053381776092089181935243907903,None,None,333257280416783476363388995292306625343
14,184,2277,2279,no,NOT,333256487342876708577369683917363761983,None,None,333257280416783476363388995292306625343
15,184,2573,2590,Diabetes mellitus,DIABETES_OR_DIABETIC,333257304977513855785333649290931229503,['diabetes_in_other'],333253075778198844354992905914862293823,None
16,184,2936,2944,Diabetes,DIABETES_OR_DIABETIC,333257312900330107211767408645326263103,['diabetes_in_other'],333253075778198844354992905914862293823,None
17,184,3420,3423,not,NOT,333256527749239590852181856624778433343,None,None,333257280416783476363388995292306625343
18,184,3495,3497,no,NOT,333256534087492591993328864108294460223,None,None,333257280416783476363388995292306625343
19,184,3754,3756,no,NOT,333256546763998594275622879075326513983,None,None,333257280416783476363388995292306625343
20,184,3860,3866,father,DIABETES_IN_OTHER,333253075778198844354992905914862293823,None,None,333257280416783476363388995292306625343
21,184,3889,3896,brother,DIABETES_IN_OTHER,333253090831549722065217048688212857663,None,None,333257280416783476363388995292306625343
22,184,3924,3930,sister,DIABETES_IN_OTHER,333253101131210848919580935848926401343,None,None,333257280416783476363388995292306625343
23,184,4137,4139,no,NOT,333256564986475972556420525590435091263,None,None,333257280416783476363388995292306625343
24,184,4179,4181,No,NOT,333256571324728973697567533073951118143,None,None,333257280416783476363388995292306625343
25,184,4390,4392,No,NOT,333256582416671725694574796170104165183,None,None,333257280416783476363388995292306625343
26,184,4454,4456,No,NOT,333256588754924726835721803653620192063,None,None,333257280416783476363388995292306625343
27,184,4553,4555,No,NOT,333256596677740978262155563008015225663,None,None,333257280416783476363388995292306625343
28,184,4585,4588,not,NOT,333256602223712354260659194556091749183,None,None,333257280416783476363388995292306625343
29,184,4612,4614,No,NOT,333256607769683730259162826104168272703,None,None,333257280416783476363388995292306625343
...,...,...,...,...,...,...,...,...,...
1479243,1213603,1237,1244,with no,NOT,269862558934190307727370532700914471743,None,None,269862837817322357937838861975619654463
1479244,1213603,1312,1314,no,NOT,269862566857006559153804292055309505343,None,None,269862837817322357937838861975619654463
1479245,1213603,1417,1424,with no,NOT,269862575572104435722881427345144042303,None,None,269862837817322357937838861975619654463
1479246,1213603,1582,1589,without,NOT,269862586664047187719888690441297089343,None,None,269862837817322357937838861975619654463
1479247,1213603,1751,1753,no,NOT,269862596963708314574252577602010633023,None,None,269862837817322357937838861975619654463
1479248,1213603,1754,1758,free,NOT,269862602509679690572756209150087156543,None,None,269862837817322357937838861975619654463
1479249,1213603,1835,1837,No,NOT,269862610432495941999189968504482190143,None,None,269862837817322357937838861975619654463
1479250,1213603,1857,1861,free,NOT,269862615978467317997693600052558713663,None,None,269862837817322357937838861975619654463
1479251,1213603,1959,1966,without,NOT,269862623901283569424127359406953747263,None,None,269862837817322357937838861975619654463
1479252,1213603,2088,2090,No,NOT,269862632616381445993204494696788284223,None,None,269862837817322357937838861975619654463
1479253,1213603,2159,2162,not,NOT,269862639746916072276994878115743814463,None,None,269862837817322357937838861975619654463
1479254,1213603,2177,2184,without,NOT,269862645292887448275498509663820337983,None,None,269862837817322357937838861975619654463
1479255,1213603,2612,2614,No,NOT,269862662723083201413652780243489411903,None,None,269862837817322357937838861975619654463
1479256,1213603,2812,2819,without,NOT,269862673815025953410660043339642458943,None,None,269862837817322357937838861975619654463
1479257,1207859,219,223,IDDM,IDDM,269955991913961754518051223146106213183,['diabetes_negated'],269955594980867558053719879490915029823,None
1479258,1207859,287,290,not,NOT,269955594980867558053719879490915029823,None,None,269955991913961754518051223146106213183
1479259,1207859,570,572,No,NOT,269955613203344936334517526006023607103,None,None,269955991913961754518051223146106213183
1479260,1207859,866,873,without,NOT,269955628256695814044741668779374170943,None,None,269955991913961754518051223146106213183
1479261,1207859,978,980,no,NOT,269955636179512065471175428133769204543,None,None,269955991913961754518051223146106213183
1479262,1207859,1063,1065,no,NOT,269955644102328316897609187488164238143,None,None,269955991913961754518051223146106213183
1479263,1207859,1466,1468,No,NOT,269955660740242444893120082132393808703,None,None,269955991913961754518051223146106213183
1479264,1276505,56,60,IDDM,IDDM,270064940144798369693962857303092253503,['diabetes_negated'],270064582825785430361800310419876238143,None
1479265,1276505,253,255,no,NOT,270064582825785430361800310419876238143,None,None,270064940144798369693962857303092253503
1479266,1276505,338,341,not,NOT,270064598671417933214667829128666305343,None,None,270064940144798369693962857303092253503
1479267,1276505,353,356,not,NOT,270064607386515809783744964418500842303,None,None,270064940144798369693962857303092253503
1479268,1276505,744,746,no,NOT,270064627985838063492472738739927929663,None,None,270064940144798369693962857303092253503
1479269,1276505,933,936,not,NOT,270064639077780815489480001836080976703,None,None,270064940144798369693962857303092253503
1479270,1276505,1067,1075,diabetic,DIABETES_OR_DIABETIC,270064716721380079468530843509152305983,['diabetes_negated'],270064639077780815489480001836080976703,None
1479271,1276509,705,713,negative,NOT,270066987400517738284446274478768935743,None,None,270067070590088378262000747699916788543
1479272,1276509,880,888,Diabetic,DIABETES_OR_DIABETIC,270067070590088378262000747699916788543,['diabetes_negated'],270066987400517738284446274478768935743,None

In [29]:
len(train_df)

1479273

In [30]:
modifier_columns = train_df[train_df["Node_Modified"]!="None"]
Diabetes_Results = train_df.drop(modifier_columns.index, axis = 0)
print(len(Diabetes_Results))
print(len(modifier_columns))
modifier_columns.head()

211326
1267947

,Identifier,Start,Stop,Phrase,Annotation_Type,Node_ID,Modifying_Category,Modified_By,Node_Modified
0,179,2417,2420,not,NOT,333229351697215573041743895114373681983,None,None,333229664648457504385877389612977509183
2,179,2638,2640,no,NOT,333229363581439950181394534145966232383,None,None,333229664648457504385877389612977509183
3,179,2839,2845,likely,HYPOTHETICAL_DIABETES,333228793138669847478163860629523813183,None,None,333229664648457504385877389612977509183
4,179,3305,3307,no,NOT,333229388142170329603339188144590836543,None,None,333229664648457504385877389612977509183
5,179,3766,3773,with no,NOT,333229407949210958169423586530578420543,None,None,333229664648457504385877389612977509183

In [31]:
node_locations = Diabetes_Results[["Start", "Stop", "Node_ID"]]
node_locations.head()

      Start     Stop                                    Node_ID
1     2560     2568    333229664648457504385877389612977509183
10     500      517    333257280416783476363388995292306625343
15    2573     2590    333257304977513855785333649290931229503
16    2936     2944    333257312900330107211767408645326263103
46   11800    11808    333257380244268244336454363157684048703

In [32]:
node_locations.rename(columns={"Start":"Node_Start", "Stop":"Node_Stop", "Node_ID":"Node_Modified"}, inplace = True)
node_locations.head()

/Users/david/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

   Node_Start Node_Stop                              Node_Modified
1       2560      2568    333229664648457504385877389612977509183
10       500       517    333257280416783476363388995292306625343
15      2573      2590    333257304977513855785333649290931229503
16      2936      2944    333257312900330107211767408645326263103
46     11800     11808    333257380244268244336454363157684048703

In [33]:
modifier_columns = pd.merge(modifier_columns, node_locations, on='Node_Modified') #, how='right'
modifier_columns = modifier_columns[pd.notnull(modifier_columns['Identifier'])] # Drop the ones that weren't modifier nodes
len(modifier_columns)

1267947

In [34]:
distance_negation = 40
distance_other = 60
distance_hypothetical = 100
distance_type = 100

def out_of_range(anno_type, distance):
    if anno_type == " NOT " or anno_type == " DENIES ":
        if distance <= distance_negation:
            return "Keep"
        else:
            return "Discard"
    elif anno_type == " DIABETES_IN_OTHER ":
        if distance <= distance_other:
            return "Keep"
        else:
            return "Discard"
    elif anno_type == " HYPOTHETICAL_DIABETES ":
        if distance <= distance_hypothetical:
            return "Keep"
        else: 
            return "Discard"
    elif anno_type == " DIABETES_TYPE_1 " or anno_type == " DIABETES_TYPE_2 " or anno_type == " DIABETES_GESTATIONAL " or anno_type == " DIABETES_INSIPIDUS ":
        if distance <= distance_type:
            return "Keep"
        else:
            return "Discard"
    else:
        return "Didn't Work"

In [37]:
modifier_columns["Distance"] = modifier_columns.apply(lambda x: max((int(x["Start"]) - int(x["Node_Stop"])), (int(x["Node_Start"])-int(x["Stop"]))), axis = 1)
modifier_columns
modifier_columns.head()

,Identifier,Start,Stop,Phrase,Annotation_Type,Node_ID,Modifying_Category,Modified_By,Node_Modified,Node_Start,Node_Stop,Distance
0,179,2417,2420,not,NOT,333229351697215573041743895114373681983,None,None,333229664648457504385877389612977509183,2560,2568,140
1,179,2638,2640,no,NOT,333229363581439950181394534145966232383,None,None,333229664648457504385877389612977509183,2560,2568,70
2,179,2839,2845,likely,HYPOTHETICAL_DIABETES,333228793138669847478163860629523813183,None,None,333229664648457504385877389612977509183,2560,2568,271
3,179,3305,3307,no,NOT,333229388142170329603339188144590836543,None,None,333229664648457504385877389612977509183,2560,2568,737
4,179,3766,3773,with no,NOT,333229407949210958169423586530578420543,None,None,333229664648457504385877389612977509183,2560,2568,1198

In [38]:
modifier_columns["Keep"] = modifier_columns.apply(lambda x: out_of_range(x["Annotation_Type"], int(x["Distance"])), axis = 1)
modifier_columns.head()

,Identifier,Start,Stop,Phrase,Annotation_Type,Node_ID,Modifying_Category,Modified_By,Node_Modified,Node_Start,Node_Stop,Distance,Keep
0,179,2417,2420,not,NOT,333229351697215573041743895114373681983,None,None,333229664648457504385877389612977509183,2560,2568,140,Discard
1,179,2638,2640,no,NOT,333229363581439950181394534145966232383,None,None,333229664648457504385877389612977509183,2560,2568,70,Discard
2,179,2839,2845,likely,HYPOTHETICAL_DIABETES,333228793138669847478163860629523813183,None,None,333229664648457504385877389612977509183,2560,2568,271,Discard
3,179,3305,3307,no,NOT,333229388142170329603339188144590836543,None,None,333229664648457504385877389612977509183,2560,2568,737,Discard
4,179,3766,3773,with no,NOT,333229407949210958169423586530578420543,None,None,333229664648457504385877389612977509183,2560,2568,1198,Discard

In [39]:
modifier_columns = modifier_columns[modifier_columns["Keep"] == "Keep"]
len(modifier_columns)

53520

In [40]:
def get_negated(value):
    if value == " DENIES ":
        return "Negated_Diabetes"
    elif value == " NOT ":
        return "Negated_Diabetes"
    else:
        return ""
    
def get_other(value):
    if value == " DIABETES_IN_OTHER ":
        return "Diabetes_in_other"
    else:
        return ""
    
def get_type(value):
    if value == " DIABETES_TYPE_1 ":
        return "Diabetes_Type_1"
    elif value == " DIABETES_TYPE_2 ":
        return "Diabetes_Type_2"
    elif value == " DIABETES_GESTATIONAL ":
        return "Diabetes_Gestational"
    elif value == " INSIPIDUS ":
        return "Diabetes_Insipidus"
    else:
        return "No_Type"
    
    
    

def get_hypothetical(value):
    if value == " HYPOTHETICAL_DIABETES ":
        return "Diabetes_Hypothetical"
    else:
        return ""

modifier_columns["Negated"] = modifier_columns["Annotation_Type"].apply(get_negated)
modifier_columns["Diabetes_in_other"] = modifier_columns["Annotation_Type"].apply(get_other)
modifier_columns["Type"] = modifier_columns["Annotation_Type"].apply(get_type)
modifier_columns["Hypothetical"] = modifier_columns["Annotation_Type"].apply(get_hypothetical)

/Users/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [41]:
def max_len(s):
    return max(s, key=len)
def max_val(s):
    return max(s, key=int)
subset = modifier_columns.groupby("Node_Modified").agg({'Diabetes_in_other': max_len, "Hypothetical": max_len, "Negated": max_len, "Type": max_len, "Distance": max_val})

In [42]:
subset = subset.reset_index()
subset.rename(columns={"Node_Modified":"Node_ID"}, inplace = True)
subset

,Node_ID,Diabetes_in_other,Hypothetical,Negated,Type,Distance
0,100002643531914455145824286033507275583,,,,Diabetes_Type_1,1
1,100012921326069664498573885558095369023,,,,Diabetes_Type_2,7
2,100014181053853641301541622906905711423,,,,Diabetes_Type_2,7
3,100019487756178846726873638480699216703,,,,Diabetes_Type_2,92
4,100048306049551833431042395082582414143,,,,Diabetes_Type_1,3
5,10006215416225635528702095234290963263,,,,Diabetes_Type_1,1
6,100065198919909217696214644594934567743,,,,Diabetes_Type_1,7
7,100080925551708347361239443994464244543,,Diabetes_Hypothetical,Negated_Diabetes,No_Type,79
8,100112769410159891272669525256945816383,,,,Diabetes_Type_1,83
9,100123605921314733365888605195122266943,,,,Diabetes_Type_2,1
10,100127504105370386977285726632090817343,,Diabetes_Hypothetical,,No_Type,64
11,100133785155634566047982623721861436223,,,,Diabetes_Type_1,26
12,100171208578198178807844934206802645823,,,,Diabetes_Type_2,65
13,100179496794732703177090040768185783103,,,,Diabetes_Type_2,5
14,100195324204764222392909176189017936703,,Diabetes_Hypothetical,,No_Type,45
15,10020281108830651859432042095144620863,,,,Diabetes_Type_2,7
16,100213713695105456482320494600718406463,,,,Diabetes_Type_1,41
17,100237660565685344684345662334319481663,,,,Diabetes_Type_2,1
18,10024412857505770744637545412154643263,,,,Diabetes_Type_2,7
19,100256690061125786852715290652400177983,,,,Diabetes_Type_1,16
20,1002775515737677082707138708656116543,,,Negated_Diabetes,Diabetes_Type_2,83
21,10031582213931686524546385204220547903,,,,Diabetes_Type_1,44
22,100327970212830527368850896202376958783,,,,Diabetes_Type_1,7
23,100332499845341419667018638184629687103,,,,Diabetes_Type_1,1
24,100346320406004363308970382845452768063,,,,Diabetes_Type_2,44
25,100371483111964986485700646475340993343,,,,Diabetes_Type_2,1
26,10038164014299560816849172757651936063,,,,Diabetes_Type_2,1
27,100392181469421838043896959832366273343,,,,Diabetes_Type_1,1
28,100393318235093965931153908113441575743,,,Negated_Diabetes,No_Type,34
29,100409782639546055203149222481760899903,,,,Diabetes_Type_2,1
...,...,...,...,...,...,...
40376,99677855127135713760526901031410881343,,,,Diabetes_Type_1,1
40377,99687242396738218153023875976123667263,,,Negated_Diabetes,No_Type,1
40378,99697095527942351048923974105137959743,,,,Diabetes_Type_2,1
40379,99733526063175752899746791555642970943,,,,Diabetes_Type_2,1
40380,99742071929698400434076596209476719423,,,,Diabetes_Type_2,7
40381,99745901502160480989278903120685454143,,,,Diabetes_Type_1,7
40382,99774445666097212967937659206374019903,,,,Diabetes_Type_1,16
40383,99792271210375252672154757513886585663,Diabetes_in_other,,,No_Type,3
40384,99792889665416674722852471234661733183,,,,Diabetes_Type_1,2
40385,99803070801207572044012133489756885823,,,,Diabetes_Type_1,11
40386,99809999462479396266322207982825788223,,,,Diabetes_Type_1,62
40387,99811503054543965197462214372391146303,,Diabetes_Hypothetical,,No_Type,71
40388,99820937861050022777659818589347664703,,,,Diabetes_Type_2,1
40389,99825054714834215758628698207619142463,,,,Diabetes_Type_2,1
40390,99832281432444956162639497208806265663,,,,Diabetes_Type_1,1
40391,99842432303086235515559501134335333183,,,,Diabetes_Type_2,1
40392,99857254149269452281848982261952172863,,,,Diabetes_Type_2,1
40393,99866234819950395950502729543334777663,,,Negated_Diabetes,No_Type,19
40394,99871603161788455325128622152671056703,,,,Diabetes_Type_2,1
40395,99874969091045920257066560903031837503,,,,Diabetes_Type_2,1
40396,99877891976414978645369832668098220863,Diabetes_in_other,,,No_Type,5
40397,99879077546640051022737197088945754943,,,,Diabetes_Type_2,1
40398,9988289410629065256567625908826428223,,,,Diabetes_Gestational,27
40399,99891289141782281761979935946749530943,,,,Diabetes_Type_2,1
40400,99894197449168228599825475870554346303,,,,Diabetes_Type_2,1
40401,99910865469997979531168405646826033983,,,,Diabetes_Type_2,1
40402,99919301684748543026933439352531342143,,Diabetes_Hypothetical,,No_Type,99
40403,99920303920998303841705924537629561663,,,,Diabetes_Type_1,2
40404,99928910634752180182686230291566580543,,,,Diabetes_Type_1,7
40405,99962172994220543779538127848236143423,,,Negated_Diabetes,No_Type,35

In [43]:
Final_table = pd.merge(Diabetes_Results, subset, on='Node_ID', how = "left") # how='right'
Final_table

,Identifier,Start,Stop,Phrase,Annotation_Type,Node_ID,Modifying_Category,Modified_By,Node_Modified,Diabetes_in_other,Hypothetical,Negated,Type,Distance
0,179,2560,2568,diabetes,DIABETES_OR_DIABETIC,333229664648457504385877389612977509183,['hypothetical_diabetes'],333228793138669847478163860629523813183,None,NaN,NaN,NaN,NaN,NaN
1,184,500,517,diabetes mellitus,DIABETES_OR_DIABETIC,333257280416783476363388995292306625343,['diabetes_in_other'],333253075778198844354992905914862293823,None,NaN,NaN,NaN,NaN,NaN
2,184,2573,2590,Diabetes mellitus,DIABETES_OR_DIABETIC,333257304977513855785333649290931229503,['diabetes_in_other'],333253075778198844354992905914862293823,None,NaN,NaN,NaN,NaN,NaN
3,184,2936,2944,Diabetes,DIABETES_OR_DIABETIC,333257312900330107211767408645326263103,['diabetes_in_other'],333253075778198844354992905914862293823,None,NaN,NaN,NaN,NaN,NaN
4,184,11800,11808,Diabetes,DIABETES_OR_DIABETIC,333257380244268244336454363157684048703,['diabetes_in_other'],333253101131210848919580935848926401343,None,NaN,NaN,NaN,NaN,NaN
5,184,12803,12820,Diabetes mellitus,DIABETES_OR_DIABETIC,333257392920774246618748378124716102463,['diabetes_in_other'],333253101131210848919580935848926401343,None,NaN,NaN,NaN,NaN,NaN
6,227,2322,2330,diabetes,DIABETES_OR_DIABETIC,333306600740230231056184352336830288703,['diabetes_in_other'],333303887967945742645265149391970784063,None,Diabetes_in_other,,,No_Type,28.0
7,230,1327,1335,diabetes,DIABETES_OR_DIABETIC,333338368064271950484985859719157011263,['diabetes_in_other'],333337021977790833133890145407440802623,None,Diabetes_in_other,,Negated_Diabetes,No_Type,38.0
8,231,1747,1755,diabetes,DIABETES_OR_DIABETIC,333342651138737471615076166705112175423,['diabetes_in_other'],333340888312121529233564710352217199423,None,Diabetes_in_other,,Negated_Diabetes,No_Type,38.0
9,232,1684,1692,diabetes,DIABETES_OR_DIABETIC,333349627970728477732644654185378763583,['diabetes_in_other'],333346203729544611227973861215845241663,None,Diabetes_in_other,,Negated_Diabetes,No_Type,38.0
10,236,326,328,DM,DM,333403274944130136400915994665030275903,['hypothetical_diabetes'],333401764063070989379998085781897368383,None,NaN,NaN,NaN,NaN,NaN
11,236,2471,2488,diabetes mellitus,DIABETES_OR_DIABETIC,333403171155237242714633747122455335743,['hypothetical_diabetes'],333401764063070989379998085781897368383,None,NaN,NaN,NaN,NaN,NaN
12,236,4746,4754,diabetes,DIABETES_OR_DIABETIC,333403192546841121566004897379321926463,['hypothetical_diabetes'],333401764063070989379998085781897368383,None,NaN,NaN,NaN,NaN,NaN
13,236,10701,10718,Diabetes Mellitus,DIABETES_OR_DIABETIC,333403237706893754696677325699373617983,['hypothetical_diabetes'],333402297268604710378990090332683129663,None,NaN,NaN,NaN,NaN,NaN
14,238,723,731,diabetes,DIABETES_OR_DIABETIC,333424082636451257643898187112707019583,['diabetes_type_2'],333422685051664506020983036997423092543,None,,,,Diabetes_Type_2,1.0
15,238,784,792,diabetes,DIABETES_OR_DIABETIC,333424091351549134212975322402541556543,['diabetes_type_2'],333422685051664506020983036997423092543,None,NaN,NaN,NaN,NaN,NaN
16,243,2290,2307,diabetes mellitus,DIABETES_OR_DIABETIC,333463959755207937170295769653790135103,['diabetes_type_2'],333461876054533812018217059447896298303,None,,,,Diabetes_Type_2,11.0
17,243,8374,8382,Diabetes,DIABETES_OR_DIABETIC,333464008084387070871541701715599840063,['diabetes_type_2'],333461876054533812018217059447896298303,None,NaN,NaN,NaN,NaN,NaN
18,243,8419,8427,diabetic,DIABETES_OR_DIABETIC,333464014422640072012688709199115866943,['diabetes_type_2'],333461876054533812018217059447896298303,None,NaN,NaN,NaN,NaN,NaN
19,243,8833,8841,Diabetes,DIABETES_OR_DIABETIC,333464022345456323439122468553510900543,['diabetes_type_2'],333461876054533812018217059447896298303,None,NaN,NaN,NaN,NaN,NaN
20,248,2591,2599,diabetes,DIABETES_OR_DIABETIC,333490135155539399822149924704102142783,['diabetes_in_other'],333486393209423851117485381623327773503,None,Diabetes_in_other,,,No_Type,6.0
21,188,1417,1425,diabetes,DIABETES_OR_DIABETIC,333527676628065158835875249569529353023,['diabetes_in_other'],333524368059998563157137343174163321663,None,,,,Diabetes_Type_2,1.0
22,188,7361,7369,diabetic,DIABETES_OR_DIABETIC,333527724957244292537121181631339057983,['diabetes_in_other'],333524383113349440867361485947513885503,None,NaN,NaN,NaN,NaN,NaN
23,188,7555,7563,diabetic,DIABETES_OR_DIABETIC,333527731295497293678268189114855084863,['diabetes_in_other'],333524383113349440867361485947513885503,None,NaN,NaN,NaN,NaN,NaN
24,188,9721,9729,diabetes,DIABETES_OR_DIABETIC,333527751894819547386995963436282172223,['diabetes_in_other'],333524383113349440867361485947513885503,None,NaN,NaN,NaN,NaN,NaN
25,193,8462,8470,Diabetes,DIABETES_OR_DIABETIC,333563566193402495438161749043592057663,['diabetes_in_other'],333560100753574121516035407431204361023,None,,,,Diabetes_Type_1,87.0
26,193,9674,9682,diabetes,DIABETES_OR_DIABETIC,333563582831316623433672643687821628223,['diabetes_in_other'],333560100753574121516035407431204361023,None,NaN,NaN,NaN,NaN,NaN
27,194,1171,1173,DM,DM,333572122042672410843978475854788842303,['hypothetical_diabetes'],333571160212779487674920090231231763263,None,NaN,NaN,NaN,NaN,NaN
28,194,2425,2428,DM2,DM2,333572435786195967330755346288832172863,['hypothetical_diabetes'],333571160212779487674920090231231763263,None,NaN,NaN,NaN,NaN,NaN
29,194,4971,4974,DM2,DM2,333572473023432349034994015254488830783,['hypothetical_diabetes'],333571280639586509356713232418036273983,None,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211296,1209565,513,521,diabetes,DIABETES_OR_DIABETIC,267993223522535125238957050867183276863,None,None,None,NaN,NaN,NaN,NaN,NaN
211297,1213056,218,226,diabetic,DIABETES_OR_DIABETIC,268050083197926737326117809554020913983,['diabetes_negated'],268049980993597093925122313882324980543,None,NaN,NaN,NaN,NaN,NaN
211298,1213056,484,492,diabetic,DIABETES_OR_DIABETIC,268050091913024613895194944843855450943,['diabetes_negated'],268049980993597093925122313882324980543,None,NaN,NaN,NaN,NaN,NaN
211299,1207389,2548,2556,diabetes,DIABETES_OR_DIABETIC,268150491425125939949080235608600236863,['diabetes_negated'],268150285431903402861802492394329363263,None,NaN,NaN,NaN,NaN,NaN
211300,1214234,150,158,DIABETIC,DIABETES_OR_DIABETIC,268249220807561465310729054466871939903,['hypothetical_diabetes'],268247774893595579986567972289778307903,None,NaN,NaN,NaN,NaN,NaN
211301,1214234,322,326,IDDM,IDDM,268250332378681540439385491888495153983,['hypothetical_diabetes'],268247774893595579986567972289778307903,None,NaN,NaN,NaN,NaN,NaN
211302,1214234,1476,1484,diabetes,DIABETES_OR_DIABETIC,268249240614602093876813452852859523903,['hypothetical_diabetes'],268247774893595579986567972289778307903,None,NaN,NaN,NaN,NaN,NaN
211303,1214234,2906,2914,DIABETIC,DIABETES_OR_DIABETIC,268249257252516221872324347497089094463,['hypothetical_diabetes'],268247874721080347959633340155155731263,None,NaN,NaN,NaN,NaN,NaN
211304,1214234,6048,6056,DIABETIC,DIABETES_OR_DIABETIC,268249285774654727007485881172911215423,['hypothetical_diabetes'],268248247093444165002020029811722310463,None,NaN,NaN,NaN,NaN,NaN
211305,1214234,7657,7665,diabetes,DIABETES_OR_DIABETIC,268249302412568855002996775817140785983,['hypothetical_diabetes'],268248247093444165002020029811722310463,None,NaN,NaN,NaN,NaN,NaN
211306,1213628,365,373,Diabetic,DIABETES_OR_DIABETIC,268279661059881070811875869988030534463,['hypothetical_diabetes'],268279507357245793139060938512766882623,None,NaN,NaN,NaN,NaN,NaN
211307,1209294,291,299,diabetes,DIABETES_OR_DIABETIC,268707573950183862784505352734674277183,['diabetes_negated'],268707505813964100517175022286876988223,None,NaN,NaN,NaN,NaN,NaN
211308,1213463,244,252,diabetes,DIABETES_OR_DIABETIC,269091812315900666541036394378695299903,['diabetes_negated'],269091758440750156841286830768809071423,None,NaN,NaN,NaN,NaN,NaN
211309,1214172,210,212,DM,DM,269094295326513863585376576046098830143,['hypothetical_diabetes'],269094091710136201926028960638146466623,None,NaN,NaN,NaN,NaN,NaN
211310,1208690,254,262,diabetic,DIABETES_OR_DIABETIC,269129446485376567244036703690544403263,['diabetes_negated'],269129292782741289571221772215280751423,None,NaN,NaN,NaN,NaN,NaN
211311,1208690,553,561,diabetic,DIABETES_OR_DIABETIC,269129455200474443813113838980378940223,['diabetes_negated'],269129307836092167281445914988631315263,None,NaN,NaN,NaN,NaN,NaN
211312,1207379,269,271,DM,DM,269371485352731144224811476717062869823,['diabetes_negated'],269371350664854869975437567692347298623,None,NaN,NaN,NaN,NaN,NaN
211313,1207379,544,552,diabetes,DIABETES_OR_DIABETIC,269371451284621263091146311493164225343,['diabetes_negated'],269371350664854869975437567692347298623,None,NaN,NaN,NaN,NaN,NaN
211314,1207860,232,236,IDDM,IDDM,269446104813031953805887204215807824703,['diabetes_negated'],269445898819809416718609461001536951103,None,NaN,NaN,NaN,NaN,NaN
211315,1213458,176,178,DM,DM,269564152398333332240971456895489954623,['hypothetical_diabetes'],269563474997543835280885032094714581823,None,NaN,NaN,NaN,NaN,NaN
211316,1213458,403,405,DM,DM,269564161113431208810048592185324491583,['hypothetical_diabetes'],269563474997543835280885032094714581823,None,NaN,NaN,NaN,NaN,NaN
211317,1213458,510,518,Diabetes,DIABETES_OR_DIABETIC,269564103276872573397082148898240746303,['hypothetical_diabetes'],269563474997543835280885032094714581823,None,NaN,NaN,NaN,NaN,NaN
211318,1207490,89,97,DIABETIC,DIABETES_OR_DIABETIC,269728219661831121116546919578724750143,['diabetes_negated'],269728192724255866266672137773781635903,None,NaN,NaN,NaN,NaN,NaN
211319,1213461,328,336,diabetes,DIABETES_OR_DIABETIC,269824584875897220830361947085518426943,['diabetes_negated'],269824448603457696295701286189923849023,None,NaN,NaN,NaN,NaN,NaN
211320,1213603,258,266,diabetic,DIABETES_OR_DIABETIC,269862837817322357937838861975619654463,['diabetes_negated'],269862509020447923740837848768225760063,None,NaN,NaN,NaN,NaN,NaN
211321,1213603,697,705,diabetic,DIABETES_OR_DIABETIC,269862848909265109934846125071772701503,['diabetes_negated'],269862509020447923740837848768225760063,None,NaN,NaN,NaN,NaN,NaN
211322,1207859,219,223,IDDM,IDDM,269955991913961754518051223146106213183,['diabetes_negated'],269955594980867558053719879490915029823,None,NaN,NaN,NaN,NaN,NaN
211323,1276505,56,60,IDDM,IDDM,270064940144798369693962857303092253503,['diabetes_negated'],270064582825785430361800310419876238143,None,NaN,NaN,NaN,NaN,NaN
211324,1276505,1067,1075,diabetic,DIABETES_OR_DIABETIC,270064716721380079468530843509152305983,['diabetes_negated'],270064639077780815489480001836080976703,None,NaN,NaN,NaN,NaN,NaN
211325,1276509,880,888,Diabetic,DIABETES_OR_DIABETIC,270067070590088378262000747699916788543,['diabetes_negated'],270066987400517738284446274478768935743,None,NaN,NaN,NaN,NaN,NaN

In [44]:
def get_new_type(anno_type, modify_type):
    if anno_type == " DMII " or anno_type == " DM2 " or anno_type == " T2DM " or anno_type == " NIDDM ":
        return "Diabetes_Type_2"
    elif anno_type == " DMI " or anno_type == " DM1 " or anno_type == " T1DM " or anno_type == " IDDM ":
        return "Diabetes_Type_1"
    elif anno_type == " GDM ":
        return "Diabetes_Gestational"
    else:
        if modify_type == "Diabetes_Type_1":
            return "Diabetes_Type_1"
        elif modify_type == "Diabetes_Type_2":
            return "Diabetes_Type_2"
        elif modify_type == "Diabetes_Gestational":
            return "Diabetes_Gestational"
        elif modify_type == "Diabetes_Insipidus":
            return "Diabetes_Insipidus"
        else:
            return "Diabetes_Type_Not_Specified"
        
        

Final_table["Diabetes_Type"] = Final_table.apply(lambda x: get_new_type(x["Annotation_Type"], x["Type"]), axis = 1)

In [45]:
Final_table["Diabetes_Negated"] = Final_table.apply(lambda x: "Negated_Diabetes" if x["Negated"] == "Negated_Diabetes" else None, axis = 1)
Final_table["Diabetes_Hypothetical"] = Final_table.apply(lambda x: "Diabetes_Hypothetical" if x["Hypothetical"] == "Diabetes_Hypothetical" else None, axis = 1)
Final_table["Diabetes_In_Other_Person"] = Final_table.apply(lambda x: "Diabetes_in_other" if x["Diabetes_in_other"] == "Diabetes_in_other" else None, axis = 1)


Final_table.head()

,Identifier,Start,Stop,Phrase,Annotation_Type,Node_ID,Modifying_Category,Modified_By,Node_Modified,Diabetes_in_other,Hypothetical,Negated,Type,Distance,Diabetes_Type,Diabetes_Negated,Diabetes_Hypothetical,Diabetes_In_Other_Person
0,179,2560,2568,diabetes,DIABETES_OR_DIABETIC,333229664648457504385877389612977509183,['hypothetical_diabetes'],333228793138669847478163860629523813183,None,NaN,NaN,NaN,NaN,NaN,Diabetes_Type_Not_Specified,None,None,None
1,184,500,517,diabetes mellitus,DIABETES_OR_DIABETIC,333257280416783476363388995292306625343,['diabetes_in_other'],333253075778198844354992905914862293823,None,NaN,NaN,NaN,NaN,NaN,Diabetes_Type_Not_Specified,None,None,None
2,184,2573,2590,Diabetes mellitus,DIABETES_OR_DIABETIC,333257304977513855785333649290931229503,['diabetes_in_other'],333253075778198844354992905914862293823,None,NaN,NaN,NaN,NaN,NaN,Diabetes_Type_Not_Specified,None,None,None
3,184,2936,2944,Diabetes,DIABETES_OR_DIABETIC,333257312900330107211767408645326263103,['diabetes_in_other'],333253075778198844354992905914862293823,None,NaN,NaN,NaN,NaN,NaN,Diabetes_Type_Not_Specified,None,None,None
4,184,11800,11808,Diabetes,DIABETES_OR_DIABETIC,333257380244268244336454363157684048703,['diabetes_in_other'],333253101131210848919580935848926401343,None,NaN,NaN,NaN,NaN,NaN,Diabetes_Type_Not_Specified,None,None,None

In [53]:
Relevant_Columns = Final_table[["Identifier", "Start", "Stop", "Phrase", "Annotation_Type", "Distance",
                             "Diabetes_Type", "Diabetes_Negated", "Diabetes_Hypothetical", "Diabetes_In_Other_Person"]]

In [54]:
Relevant_Columns.to_csv("Output_Files/MIMIC_Diabetes_mention.csv")

In [55]:
Relevant_Columns.groupby("Diabetes_Type").count()

,Identifier,Start,Stop,Phrase,Annotation_Type,Distance,Diabetes_Negated,Diabetes_Hypothetical,Diabetes_In_Other_Person
Diabetes_Type,,,,,,,,,
Diabetes_Gestational,565,565,565,565,565,550,30,20,217
Diabetes_Type_1,21531,21531,21531,21531,21531,12064,1447,788,182
Diabetes_Type_2,41139,41139,41139,41139,41139,17334,1786,1458,361
Diabetes_Type_Not_Specified,148091,148091,148091,148091,148091,10458,5179,3874,2708

In [56]:
Relevant_Columns.groupby("Diabetes_Negated").count()

,Identifier,Start,Stop,Phrase,Annotation_Type,Distance,Diabetes_Type,Diabetes_Hypothetical,Diabetes_In_Other_Person
Diabetes_Negated,,,,,,,,,
Negated_Diabetes,8442,8442,8442,8442,8442,8442,8442,876,842

In [57]:
Relevant_Columns.groupby("Diabetes_Hypothetical").count()

,Identifier,Start,Stop,Phrase,Annotation_Type,Distance,Diabetes_Type,Diabetes_Negated,Diabetes_In_Other_Person
Diabetes_Hypothetical,,,,,,,,,
Diabetes_Hypothetical,6140,6140,6140,6140,6140,6140,6140,876,44

In [58]:

Relevant_Columns.groupby("Diabetes_In_Other_Person").count()

,Identifier,Start,Stop,Phrase,Annotation_Type,Distance,Diabetes_Type,Diabetes_Negated,Diabetes_Hypothetical
Diabetes_In_Other_Person,,,,,,,,,
Diabetes_in_other,3468,3468,3468,3468,3468,3468,3468,842,44

In [59]:
len(Relevant_Columns)

211326

In [60]:
len(Relevant_Columns.groupby("Identifier"))

102169

OK, it finally ran!

Out of the 2,083,180 documents, 102,169 of them have a mention of diabetes. There are a total of 211,326 mentions of diabetes (just over 2 per document that mentions diabetes on average). Of these 211,326 mentions, 565 of them are gestational diabetes, 21,531 are Type 1 diabetes and 41,139 are Type 2 diabetes. I don't trust those numbers because in my test dataset it guessed less than 2/3 of the types correctly. Additionally, 8,842 of those mentions are negated, 6,140 are hypothetical and 3,468 are in a person other than the patient. Again, I think these numbers are underestimates, just like the types. 

As for the A1c, there are 10,515 documents that give an HbA1c value. 7,160 (68.1%) of them have a good A1c (7.0% or below). This is a good sign. Another 2,428 (23.1%) are fair management of diabetes and only 927 (8.8%) are high (above 10%, poor management of diabetes). This isn't bad at all.